SPARQLWrapper==1.8.5
torch==1.0.1
transformers==2.4.1
pandas==0.25.3
dynet==2.1
overrides==2.8.0
termcolor==1.1.0
spacy==2.2.3
fairseq==0.9.0
tensorboardX==2.0
pythainlp==2.1.4
kytea==0.1.4
jieba==0.42.1
tensorflow==1.15.2
tensorflow-gpu==1.15.2
matplotlib==3.2.1
